/* Reset & Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* Main Content */
#manage-orders {
    margin-left: 250px;  /* Adjust content to avoid overlap with sidebar */
    padding: 20px;
    width: calc(100% - 250px);  /* Make sure the content takes up the remaining width */
    overflow: auto;  /* Allow the content to scroll if it's too large */
}

/* Manage Orders Table */
#manage-orders .container {
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #2c3e50;
}

table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #2c3e50;
    color: #fff;
}

table td {
    background-color: #fff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Action Buttons */
.btn-delete {
    background-color: #e74c3c;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-delete:hover {
    background-color: #c0392b;
}

